<div class="row">
    <div class="col-md-4">
        <form [formGroup]="formGroup" (ngSubmit)="authenticate()">
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" 
                       class="form-control"
                       id="email" 
                       name="email" 
                       required 
                       autoFocus
                       formControlName="email" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input type="password" 
                       class="form-control"
                       id="password" 
                       name="password" 
                       required 
                       autoFocus
                       formControlName="password" />
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>